body{
    background-color: #212128;
}
::selection{
    background-color: black;
    color: white;
}
@font-face {
    font-family: MadeGentle;
    src: url("../fonts/MADE\ Gentle\ PERSONAL\ USE.otf");
}
@font-face {
    font-family: Shorelines;
    src: url("../fonts/Shorelines\ Script\ Bold.otf");
}


.albumbox{
    margin: 19px 0px;
    position: relative;
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
}


.BgOfAlbum{
    width: 12rem;
    height: 12rem;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.BgOfAlbum:hover{
    background-color: black;
}

.Album{
    width: 11rem;
    height: 11rem;
    border-radius: 17px;
}

.albumHover{
    width: 12rem;
    height: 12rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgb(0, 0, 0));
    position: absolute;
    border-radius: 17px;
    opacity: 0;
    transition: all 1s cubic-bezier(0, 0.29, 0, 1.13);
}

.albumHover:hover{
    opacity: 1;
}







/* ************************************Card*********************************** */
.musicCard{
    position: absolute;
    left: 0.7rem;
    top: 10rem;
    background-color: black;
    border-radius: 6px;
    padding: 0.4rem;
    height: 4.7rem;
}

.ImgAndText{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    padding: 0;
}

.CardImg{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 7px;
}

.cardText{
    color: white;
    font-size: 0.6rem;
    text-align: center;
    padding-left: 0.5rem;
    padding-top: 0.7rem;
    margin: 0;
    font-family: MadeGentle;
}

.artistNameInAlbum{
    color: white;
    padding-top: 0.2rem;
    font-size: 0.35rem;
    padding-left: 0.5rem;
    font-family: Shorelines;
    margin: 0;
}

.musicicons{
    margin: 0;
    padding: 0;
}

.fa-customise{
    margin: 0;
    font-size: 0.7rem;
    padding: 0px 20px;
    color: white;
}